@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Source Sans Pro';
  }
}
